{% extends 'epood/BAZA.html' %}
{% block content %}
<body>
<div align="center">
    <div class="contact-block">
        <h3>Phone</h3>
        <img class="icon" src="https://cdn-icons-png.flaticon.com/512/27/27130.png" alt="Phone Icon">
        <span>+37256457474</span>
    </div>

    <div class="contact-block">
        <h3>Contact Address</h3>
        <img class="icon" src="https://static.vecteezy.com/system/resources/thumbnails/019/897/155/small/location-pin-icon-map-pin-place-marker-png.png" alt="Map Icon">
        <span>Akadeemia tee 7/1</span>
    </div>

    <div class="contact-block">
        <h3>Email</h3>
        <img class="icon" src="https://png.pngtree.com/png-vector/20190927/ourmid/pngtree-email-icon-png-image_1757854.jpg" alt="Email Icon">
        <span>mangustore@info.ee</span>
    </div>

    <div class="contact-block">
        <h3>Social Media</h3>
        <div class="social-icons">
            <div class="social-icon">
                <a href="https://www.facebook.com/ylikool/" target="_blank">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2175/2175193.png" alt="Facebook Icon">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://www.instagram.com/taltechuniversity/?hl=en" target="_blank">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1384/1384089.png" alt="Instagram Icon">
                </a>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
