{% load epood_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{offer.offer_name}}</title>
</head>
<body>
<p align="left">
    <h1 align="center">{{offer.offer_name}}</h1>
    <p align="center">{{offer.offer_description|linebreaks}}</p>
    <img src="{{offer.offer_picture.url}}" width="400" height="500">
</p>
    <h3>{{offer.offer_price}}</h3>
    <form action="review/{{offer.id}}" method="post">
        {% csrf_token %}
        <label for="rating">Choose your mark</label>
        <select name="rating" id="rating" required >
            <option value="5">Very Positive</option>
            <option value="4">Positive</option>
            <option value="3">Neutral</option>
            <option value="2">Negative</option>
            <option value="1">Very Negative</option>
        </select>
        <input type="text" name="comment_text">
        <br><input type="submit">

    </form>

{% get_rating offer %}
<h3>COMMENTS</h3>
{% for COMMENT in offer.comment_set.all %}
    <p>{{COMMENT.author_pict.}}</p>
    <img src="{{ COMMENT.author_pict.url }}" align="left" width="130" height="100">
    <hr>
    <p><b>{{COMMENT.author_name}}</b></p>
    <p align="center">{{COMMENT.comment_text}}</p>
    <p>{{COMMENT.pub_date}}</p>
    {% if COMMENT.rating %}
        <p align="right">{{COMMENT.get_rating_display}}</p>
    {%endif%}



{%endfor%}


</body>
</html>