{% extends 'epood/BAZA.html' %}
{% block content %}
</head>
<body>

  <div class="upload-container">
    <h2>Upload your photo</h2>
  </div>

  <div class="drop-area" id="dropArea">
      <div>
          <img src="{{ user.avatarka.pict.url }}" width="150" height="150" style="border-radius: 50%; border: 2px solid black;">
      </div>
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit">Submit</button>
</form>
  </div>

  <div class="upload-container">
    <h2>Image files: png, jpg</h2>
  </div>
  <div style="margin: 10px;">
<a href="{%url 'logout'%}" ><button class="red_button">LOGOUT</button></a>
    </div>

{%endblock%}