<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
    <h1>WE ALL LIVE IN SOCIETY</h1>
    <p align="center"><font color="green" size="5" face="Arial">
        I'm <b>Anton</b> <br>
        <mark>And this is my site</mark><br>
        Welcome, <s>I'm glad to show you it</s>
    </font>
    </p>
    <hr color="red">
    <form>
        <input><br>
        <label> Button<input type="button" name="button" value="Click me, Please"></label>
        <br><input type="password" placeholder="your password">
        <br><select>
            <option value="5">Very Positive</option>
            <option value="4">Positive</option>
            <option value="3">Neutral</option>
            <option value="2">Negative</option>
            <option value="1">Very Negative</option>
            </select>
        <br><input type="submit">
        <a href="{%url 'mainpage'%}">link to homepage</a>
    </form>
    {% for offer in offer_list%}
        <hr align="center">
        <img src="{{offer.offer_picture.url}}" align="left" width="100" height="100">
        <h4 align="center"><a href="{{ offer.get_absolute_url }}"> {{offer.offer_name}} </a></h4>
        <p align="center">{{offer.offer_description|truncatewords:50}}</p>
        <p align="center">{{offer.offer_price}}</p>
        <hr align="center">


    {%endfor%}
</body>
</html>