<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
    <h1>WE ALL LIVE IN SOCIETY</h1>
    <p align="center"><font color="green" size="5" face="Arial">
        I'm <b>Anton</b> <br>
        <mark>And this is my site</mark><br>
        Welcome, <s>I'm glad to show you it</s>
    </font>
    </p>
    <hr color="red">
        <a href="/admin">link to admin</a>

            {% if request.user.is_authenticated %}
                <h3>Hello, {{user.username}}</h3>| <a href="{%url 'logout'%}">Выйти</a>
            {% else %}
                <a href="{%url 'register'%}">REGISTRATE</a>| <a href="{%url 'login'%}">LOGIN</a>
            {%endif%}
    </form>
    {% for offer in offer_list%}
        <hr align="center">
        <img src="{{offer.offer_picture.url}}" align="left" width="100" height="100">
        <h4 align="center"><a href="{{ offer.get_absolute_url }}"> {{offer.offer_name}} </a></h4>
        <p align="center">{{offer.offer_description|truncatewords:50}}</p>
        <p align="center">{{offer.offer_price}}</p>
        <hr align="center">
    {%endfor%}
    <nav class="list-pages" >
        <ul>
            {% if page_obj.has_other_pages %}
            {% for p in paginator.page_range %}
            <li class="page-num">
                <a href="?page={{ p }}">{{p}}</a>
            </li>
            {%endfor%}
            {%endif%}
        </ul>
    </nav>
</body>
</html>