{% extends 'epood/BAZA.html' %}
{% block content %}
    </form>
    {% for offer in offer_list%}
        <div id="gamepanel">
            <div class="game_img" >
            <a href="{{ offer.get_absolute_url }}"><img src="{{offer.offer_picture.url}}" align="left" width="200" height="190" hspace="10"></a>
                <div class="price">{{offer.offer_price}}€</div>
            </div>
            <a href="{{ offer.get_absolute_url }}" class="game_link"> {{offer.offer_name}} </a>
            <span class="game_text">{{offer.offer_description|truncatewords:50}}</span>
        </div>
    {%endfor%}

{% endblock %}
